# Flutter/Dart
.dart_tool/
.packages

# Builds
build/

# IDE
.idea/
.vscode/
*.iml

# Android
android/.gradle/
android/local.properties

# iOS/macOS
ios/Pods/
ios/Flutter/ephemeral/
macos/Flutter/ephemeral/

# OS
.DS_Store
